body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d2edff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}
form{
    margin: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;
    width: 400px;
}
label{
    display: block;
    margin-bottom: 10px;

}
input{
    width: 100%;
    margin-bottom: 8px;
    padding: 10px;
    box-sizing: border-box;
}
input[type="submit"]{
    margin-bottom: 15px;
background-color: #d2edff;
cursor: pointer;
transition: all 1.5s ease;
border-radius: 5px;
border: none;
}
input[type="submit"]:hover{
    background-color: #6ac4ff;
}
.error-message{
color: red;
font-size: 12px;
margin-top: -10px;
margin-bottom: 10px;
display: none;
}
#show-hide{
position: relative;
top: -10;
float: right;
color: rgb(127, 127, 127);
cursor: pointer;
border: 1px solid transparent;
transition: all 1s ease;
}
#show-hide:hover{
    border-bottom: 1px solid rgb(127, 127, 127);
    color:  #6ac4ff;
}